/* app css stylesheet */
body {
    background-color: #eee;
}
.navbar {
    border-radius: 0px;
}
.box-central {
    background: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.39);

}
.padding-30 {
        padding: 30px;
}
.menu-lateral {
    background: #fff;
    padding: 0;

height: calc(100%);

}
.topo-conteudo {
    padding: 0;
}

.box-full {
    padding: 0;
    height: 100%;

}
.avatar {
    padding: 30px 0;
    background-color: rgb(2,119,189);
    color: rgb(255,255,255);
    font-weight: bold;
}
.badge {
    background-color: #EF8080;
}
.alert {
    margin-bottom: 0;
}
html, body {
    height: 100%;
}
.saldo h3 {
    color: #fff;
}
.bloco-azul {
        background-color: #2196f3;
}