<div class="row" ng-controller="View1Ctrl">
<md-content class="md-padding" layout-xs="column" ng-controller="View1Ctrl">
  <md-content layout-padding>
   <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch="">
    <div>
      <form ng-submit="addDespesas()" name="userForm">


        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>First name</label>
            <input type="text" class="form-control" id="nome" ng-model="nome" placeholder="Nome">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input type="text" ng-model="email" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Telefone</label>
            <input type="text" ng-model="telefone" class="form-control" id="telefone" placeholder="Telefone">
          </md-input-container>          

        </div>
	
		<md-button class="md-raised md-primary" type="submit">Enviar</md-button>
		 Pessoas Cadastradas:  {{messages.length}}

      </form>
    </div>
    </md-card md-theme>
  </md-content>
  </md-content>
</div>